name: Deploy Backend to VPS

on:
  push:
    branches:
      - production

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD}}
          key: ${{ secrets.VPS_KEY }}
          port: 22
          script: |
            cd /var/www/algoforge/TLCN_project_backend

            git pull origin production

            docker compose up --build -d

            docker image prune -f
